WebService.asmx/dtd/colinx_get_hostping_001.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by Turbo XML 2.3.0.100.-->

<!-- OAG Common Fields -->
<!-- End GETHOSTPING only fields and segments -->
<!ENTITY % STRDOM "(#PCDATA)">

<!ELEMENT AUTHID %STRDOM;>

<!ELEMENT CODEPAGE %STRDOM;>

<!ELEMENT COMPONENT %STRDOM;>

<!ELEMENT CONFIRMATION %STRDOM;>

<!ELEMENT DAY %STRDOM;>

<!ELEMENT HOUR %STRDOM;>

<!ELEMENT LANGUAGE %STRDOM;>

<!ELEMENT LOGICALID %STRDOM;>

<!ELEMENT MINUTE %STRDOM;>

<!ELEMENT MONTH %STRDOM;>

<!ELEMENT NOUN %STRDOM;>

<!ATTLIST NOUN  value CDATA  #IMPLIED >
<!ELEMENT REFERENCEID %STRDOM;>

<!ELEMENT REVISION %STRDOM;>

<!ATTLIST REVISION  value CDATA  #IMPLIED >
<!ELEMENT SECOND %STRDOM;>

<!ELEMENT SUBSECOND %STRDOM;>

<!ELEMENT TASK %STRDOM;>

<!ELEMENT TIMEZONE %STRDOM;>

<!ELEMENT VERB %STRDOM;>

<!ATTLIST VERB  value CDATA  #IMPLIED >
<!ELEMENT YEAR %STRDOM;>

<!-- End OAG Common Fields -->
<!-- OAG Complex Segments -->
<!ELEMENT BSR (VERB , NOUN , REVISION)>

<!ELEMENT CNTROLAREA (BSR , SENDER , DATETIME)>

<!ELEMENT SENDER (LOGICALID , COMPONENT , TASK , REFERENCEID , CONFIRMATION , LANGUAGE , CODEPAGE , AUTHID)>

<!ENTITY % SEG_DATETIME_QUALIFIERS_EXTENSION "OTHER | COLINX.CARDEXP | COLINX.REQUESTED">

<!ENTITY % SEG_DATETIME_QUALIFIERS "(ACCOUNTING | ACTEND | ACTSTART | APPREQ | APPROVAL | AVAILABLE |
            BKTEND | BKTSTART | CANCEL | CHANGEDATE | COMPDATE | CREATION | CUMULATIVE | DELIVACT | DELIVSCHED |
        DISCNT | DOCUMENT | DUE | EARLSTEFF | EARLSTSHIP | EFFECTIVE | ENGCHG | EXECFINISH |
            EXECSTART | EXPIRATION | FAILDATE | FORECASTF | FORECASTS | FROM | GENERATION |
            IMPL | INVOICE | LABORFINSH | LABORSTART | LASTUSED | LOADING |
            MATCHING | MSMENTDATE | NEEDDELV | OPFINISH | OPSTART | PAYEND |
            PLANEND | PLANSTART | PO | PROMDELV | PROMSHIP | PYMTTERM | RECEIVED | REPORTDATE |
            REPORTNGFN | REPORTNGST | REQUIRED | RESORCDWNF | RESORCDWNS |
            RSPDDATE | RSPDOCGEN | SCHEND | SCHSTART | SETUPFINSH | SETUPSTART | SHIP |
            SHIPSCHED | STATUSDATE | TEARDOWNF | TEARDOWNS | TO |
            %SEG_DATETIME_QUALIFIERS_EXTENSION;)">

<!ENTITY % SEG_DATETIME_TYPES_EXTENSION "OTHER ">

<!ENTITY % SEG_DATETIME_TYPES "(T | F | %SEG_DATETIME_TYPES_EXTENSION;)">

<!ELEMENT DATETIME (YEAR , MONTH , DAY , HOUR , MINUTE , SECOND , SUBSECOND , TIMEZONE)>

<!ATTLIST DATETIME  qualifier %SEG_DATETIME_QUALIFIERS; #REQUIRED

                      type %SEG_DATETIME_TYPES; #IMPLIED

                      index     CDATA  #IMPLIED >
<!---
     <table border="1">
     <tr><td><b>Description:</b></td><td>End OAG Common Segments </td></tr>
     <tr><td><b>Usage:</b></td><td>Required, if parent element is supplied</td></tr>
     <tr><td><b>Valid Values:</b></td><td>0,1, or 2</td></tr>
     </table>
-->
<!ELEMENT COLINX_HOSTID %STRDOM;>

<!ELEMENT GET_HOSTPING_001 (CNTROLAREA , DATAAREA+)>

<!ELEMENT DATAAREA (GETHOSTPING)>

<!ELEMENT GETHOSTPING (COLINX_HOSTID)>

