WebService.asmx/Classes/colinx_list_salesorder_005.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema xmlns="http://tempuri.org/colinx_list_salesorder_005" elementFormDefault="qualified" targetNamespace="http://tempuri.org/colinx_list_salesorder_005" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ACTIVE" type="xs:string" />
  <xs:element name="ADDRLINE">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="index" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ADDRTYPE" type="xs:string" />
  <xs:element name="AUTHID" type="xs:string" />
  <xs:element name="BACKORDIND" type="xs:string" />
  <xs:element name="BOMALTID" type="xs:string" />
  <xs:element name="BOMID" type="xs:string" />
  <xs:element name="BOMNAME" type="xs:string" />
  <xs:element name="BOMREVISON" type="xs:string" />
  <xs:element name="BOMSTATUS" type="xs:string" />
  <xs:element name="BOMTYPE" type="xs:string" />
  <xs:element name="BOMUSAGE" type="xs:string" />
  <xs:element name="CARRIER" type="xs:string" />
  <xs:element name="CITY" type="xs:string" />
  <xs:element name="CODE" type="xs:string" />
  <xs:element name="CODEPAGE" type="xs:string" />
  <xs:element name="COMPONENT" type="xs:string" />
  <xs:element name="CONFIRMATION" type="xs:string" />
  <xs:element name="CONTAINRID" type="xs:string" />
  <xs:element name="CONTCTTYPE" type="xs:string" />
  <xs:element name="CONTRACTB" type="xs:string" />
  <xs:element name="CONTRACTS" type="xs:string" />
  <xs:element name="COUNTRY" type="xs:string" />
  <xs:element name="COUNTY" type="xs:string" />
  <xs:element name="COSTCENTER" type="xs:string" />
  <xs:element name="CURRENCY" type="xs:string" />
  <xs:element name="DAY" type="xs:string" />
  <xs:element name="DEPARTMENT" type="xs:string" />
  <xs:element name="DESCRIPTN" type="xs:string" />
  <xs:element name="DISTCENTER" type="xs:string" />
  <xs:element name="DIVISION" type="xs:string" />
  <xs:element name="DOCUMENTID" type="xs:string" />
  <xs:element name="DRAWING" type="xs:string" />
  <xs:element name="DRCR" type="xs:string" />
  <xs:element name="DROPSHIP" type="xs:string" />
  <xs:element name="DUNSNUMBER" type="xs:string" />
  <xs:element name="EMAIL" type="xs:string" />
  <xs:element name="EXPORTLIC" type="xs:string" />
  <xs:element name="FAX">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="index" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLENTITYS" type="xs:string" />
  <xs:element name="GLNOMACCT" type="xs:string" />
  <xs:element name="HAZRDMATL" type="xs:string" />
  <xs:element name="HOUR" type="xs:string" />
  <xs:element name="IMPORTLIC" type="xs:string" />
  <xs:element name="INVOICENUM" type="xs:string" />
  <xs:element name="ITEM" type="xs:string" />
  <xs:element name="ITEMRV" type="xs:string" />
  <xs:element name="ITEMRVX" type="xs:string" />
  <xs:element name="ITEMTYPE" type="xs:string" />
  <xs:element name="ITEMX" type="xs:string" />
  <xs:element name="LANGUAGE" type="xs:string" />
  <xs:element name="LOGICALID" type="xs:string" />
  <xs:element name="LOTLEVEL">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="index" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="MARK_FOR" type="xs:string" />
  <xs:element name="MINUTE" type="xs:string" />
  <xs:element name="MONTH" type="xs:string" />
  <xs:element name="NAME">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="index" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="NOTES" type="xs:string" />
  <xs:element name="NOUN">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="value" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="NUMOFDEC" type="xs:string" />
  <xs:element name="ONETIME" type="xs:string" />
  <xs:element name="OPRAMTAUTH" type="xs:string" />
  <xs:element name="ORDERER" type="xs:string" />
  <xs:element name="PACKING" type="xs:string" />
  <xs:element name="PARENTID" type="xs:string" />
  <xs:element name="PARTIALSHP" type="xs:string" />
  <xs:element name="PARTNRID" type="xs:string" />
  <xs:element name="PARTNRIDX" type="xs:string" />
  <xs:element name="PARTNRRATG" type="xs:string" />
  <xs:element name="PARTNRROLE" type="xs:string" />
  <xs:element name="PARTNRTYPE" type="xs:string" />
  <xs:element name="PAYMETHOD" type="xs:string" />
  <xs:element name="POID" type="xs:string" />
  <xs:element name="POLINENUM" type="xs:string" />
  <xs:element name="POSTALCODE" type="xs:string" />
  <xs:element name="PRICING_REFERENCE" type="xs:string" />
  <xs:element name="PRODCTLINE" type="xs:string" />
  <xs:element name="PROJECT" type="xs:string" />
  <xs:element name="PROPERTY">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="index" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="PSCLINENUM" type="xs:string" />
  <xs:element name="REFERENCEID" type="xs:string" />
  <xs:element name="REGION" type="xs:string" />
  <xs:element name="REVISION">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="value" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROUTINGID" type="xs:string" />
  <xs:element name="SALESORDID" type="xs:string" />
  <xs:element name="SALESORG">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="index" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="SALESPERSN" type="xs:string" />
  <xs:element name="SECOND" type="xs:string" />
  <xs:element name="SHIPNOTES" type="xs:string" />
  <xs:element name="SHIPPRIOR" type="xs:string" />
  <xs:element name="SHPUNITSEQ" type="xs:string" />
  <xs:element name="SHPUNITSTS" type="xs:string" />
  <xs:element name="SIGN" type="xs:string" />
  <xs:element name="SITELEVEL">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="index" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="SHPUNITTOT" type="xs:string" />
  <xs:element name="SOLINENUM" type="xs:string" />
  <xs:element name="SOLNSTATUS" type="xs:string" />
  <xs:element name="SOSTATUS" type="xs:string" />
  <xs:element name="STATEPROVN" type="xs:string" />
  <xs:element name="SUBSECOND" type="xs:string" />
  <xs:element name="SUBSFLAG" type="xs:string" />
  <xs:element name="SYNCIND" type="xs:string" />
  <xs:element name="TASK" type="xs:string" />
  <xs:element name="TAXEXEMPT" type="xs:string" />
  <xs:element name="TAXID" type="xs:string" />
  <xs:element name="TAXJRSDCTN" type="xs:string" />
  <xs:element name="TAXWHEXMPT" type="xs:string" />
  <xs:element name="TELEPHONE">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="index" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="TERMID" type="xs:string" />
  <xs:element name="TIMEZONE" type="xs:string" />
  <xs:element name="TRACKINGID" type="xs:string" />
  <xs:element name="UOM" type="xs:string" />
  <xs:element name="UOMNUMDEC" type="xs:string" />
  <xs:element name="UOMVALUE" type="xs:string" />
  <xs:element name="UPC" type="xs:string" />
  <xs:element name="URL" type="xs:string" />
  <xs:element name="USERAREA">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VALUE" type="xs:string" />
  <xs:element name="VERB">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="value" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="WAREHOUSE_REFERENCE_NUMBER" type="xs:string" />
  <xs:element name="YEAR" type="xs:string" />
  <xs:element name="TAXRATE" type="xs:string" />
  <xs:element name="SUPPLIERTAXNUM" type="xs:string" />
  <xs:element name="RECIPIENTTAXNUM" type="xs:string" />
  <xs:element name="AMOUNT">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="VALUE" />
        <xs:element ref="NUMOFDEC" />
        <xs:element ref="SIGN" />
        <xs:element ref="CURRENCY" />
        <xs:element ref="DRCR" />
      </xs:sequence>
      <xs:attribute name="qualifier" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="ACTUAL" />
            <xs:enumeration value="APPRVORD" />
            <xs:enumeration value="AVAILABLE" />
            <xs:enumeration value="BUDGET" />
            <xs:enumeration value="COMMISSION" />
            <xs:enumeration value="DECLAREVAL" />
            <xs:enumeration value="DSCPRCNT" />
            <xs:enumeration value="DSCVALUE" />
            <xs:enumeration value="DISCNT" />
            <xs:enumeration value="DOCUMENT" />
            <xs:enumeration value="ESTENGIMP" />
            <xs:enumeration value="ESTFREIGHT" />
            <xs:enumeration value="ESTHRS" />
            <xs:enumeration value="ESTIMATE" />
            <xs:enumeration value="ESTMANIMP" />
            <xs:enumeration value="ESTUCOST" />
            <xs:enumeration value="EXTENDED" />
            <xs:enumeration value="FREIGHT" />
            <xs:enumeration value="ITEM" />
            <xs:enumeration value="OPENITEM" />
            <xs:enumeration value="ORDER" />
            <xs:enumeration value="ORDLIMIT" />
            <xs:enumeration value="PAYRATE" />
            <xs:enumeration value="RATE" />
            <xs:enumeration value="PRCBRK" />
            <xs:enumeration value="TAX" />
            <xs:enumeration value="TAXBASE" />
            <xs:enumeration value="TOTAL" />
            <xs:enumeration value="TOTLIMIT" />
            <xs:enumeration value="OTHER" />
            <xs:enumeration value="COLINX.DISCMULT" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="T" />
            <xs:enumeration value="F" />
            <xs:enumeration value="OTHER" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="index" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="BSR">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="VERB" />
        <xs:element ref="NOUN" />
        <xs:element ref="REVISION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CNTROLAREA">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="BSR" />
        <xs:element ref="SENDER" />
        <xs:element ref="DATETIME" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DATETIME">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="YEAR" />
        <xs:element ref="MONTH" />
        <xs:element ref="DAY" />
        <xs:element ref="HOUR" />
        <xs:element ref="MINUTE" />
        <xs:element ref="SECOND" />
        <xs:element ref="SUBSECOND" />
        <xs:element ref="TIMEZONE" />
      </xs:sequence>
      <xs:attribute name="qualifier" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="ACCOUNTING" />
            <xs:enumeration value="ACTEND" />
            <xs:enumeration value="ACTSTART" />
            <xs:enumeration value="APPREQ" />
            <xs:enumeration value="APPROVAL" />
            <xs:enumeration value="ARRIVAL" />
            <xs:enumeration value="AVAILABLE" />
            <xs:enumeration value="BKTEND" />
            <xs:enumeration value="BKTSTART" />
            <xs:enumeration value="CANCEL" />
            <xs:enumeration value="CHANGEDATE" />
            <xs:enumeration value="COMPDATE" />
            <xs:enumeration value="CREATION" />
            <xs:enumeration value="CUMULATIVE" />
            <xs:enumeration value="DELIVACT" />
            <xs:enumeration value="DELIVSCHED" />
            <xs:enumeration value="DISCNT" />
            <xs:enumeration value="DOCUMENT" />
            <xs:enumeration value="DUE" />
            <xs:enumeration value="EARLSTEFF" />
            <xs:enumeration value="EARLSTSHIP" />
            <xs:enumeration value="EFFECTIVE" />
            <xs:enumeration value="ENGCHG" />
            <xs:enumeration value="EXECFINISH" />
            <xs:enumeration value="EXECSTART" />
            <xs:enumeration value="EXPIRATION" />
            <xs:enumeration value="FAILDATE" />
            <xs:enumeration value="FORECASTF" />
            <xs:enumeration value="FORECASTS" />
            <xs:enumeration value="FROM" />
            <xs:enumeration value="GENERATION" />
            <xs:enumeration value="IMPL" />
            <xs:enumeration value="INVOICE" />
            <xs:enumeration value="LABORFINSH" />
            <xs:enumeration value="LABORSTART" />
            <xs:enumeration value="LASTUSED" />
            <xs:enumeration value="LOADING" />
            <xs:enumeration value="MATCHING" />
            <xs:enumeration value="MSMENTDATE" />
            <xs:enumeration value="NEEDDELV" />
            <xs:enumeration value="OPFINISH" />
            <xs:enumeration value="OPSTART" />
            <xs:enumeration value="PAYEND" />
            <xs:enumeration value="PLANEND" />
            <xs:enumeration value="PLANSTART" />
            <xs:enumeration value="PO" />
            <xs:enumeration value="PROMDELV" />
            <xs:enumeration value="PROMSHIP" />
            <xs:enumeration value="PYMTTERM" />
            <xs:enumeration value="RECEIVED" />
            <xs:enumeration value="REPORTDATE" />
            <xs:enumeration value="REPORTNGFN" />
            <xs:enumeration value="REPORTNGST" />
            <xs:enumeration value="REQUIRED" />
            <xs:enumeration value="RESORCDWNF" />
            <xs:enumeration value="RESORCDWNS" />
            <xs:enumeration value="RSPDDATE" />
            <xs:enumeration value="RSPDOCGEN" />
            <xs:enumeration value="SCHEND" />
            <xs:enumeration value="SCHSTART" />
            <xs:enumeration value="SETUPFINSH" />
            <xs:enumeration value="SETUPSTART" />
            <xs:enumeration value="SHIP" />
            <xs:enumeration value="SHIPSCHED" />
            <xs:enumeration value="STATUSDATE" />
            <xs:enumeration value="TEARDOWNF" />
            <xs:enumeration value="TEARDOWNS" />
            <xs:enumeration value="TO" />
            <xs:enumeration value="OTHER" />
            <xs:enumeration value="COLINX.CARDEXP" />
            <xs:enumeration value="COLINX.REQUESTED" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="T" />
            <xs:enumeration value="F" />
            <xs:enumeration value="OTHER" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="index" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="OPERAMT">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="VALUE" />
        <xs:element ref="NUMOFDEC" />
        <xs:element ref="SIGN" />
        <xs:element ref="CURRENCY" />
        <xs:element ref="UOMVALUE" />
        <xs:element ref="UOMNUMDEC" />
        <xs:element ref="UOM" />
      </xs:sequence>
      <xs:attribute name="qualifier" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="COST" />
            <xs:enumeration value="EXTENDED" />
            <xs:enumeration value="FREIGHT" />
            <xs:enumeration value="UNIT" />
            <xs:enumeration value="OTHER" />
            <xs:enumeration value="LPRICE" />
            <xs:enumeration value="RVPRICE" />
            <xs:enumeration value="TAX" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="T" />
            <xs:enumeration value="F" />
            <xs:enumeration value="OTHER" />
            <xs:enumeration value="LPRICE" />
            <xs:enumeration value="RVPRICE" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="QUANTITY">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="VALUE" />
        <xs:element ref="NUMOFDEC" />
        <xs:element ref="SIGN" />
        <xs:element ref="UOM" />
      </xs:sequence>
      <xs:attribute name="qualifier" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="ACCEPTED" />
            <xs:enumeration value="ACTDUR" />
            <xs:enumeration value="ACTHRS" />
            <xs:enumeration value="ALLOCATED" />
            <xs:enumeration value="ALLOWEDWT" />
            <xs:enumeration value="AVAILABLE" />
            <xs:enumeration value="AVGRUNSIZE" />
            <xs:enumeration value="BACKORDERD" />
            <xs:enumeration value="BATCHSIZE" />
            <xs:enumeration value="BATCHTIME" />
            <xs:enumeration value="BLOCKED" />
            <xs:enumeration value="BREAKTIME" />
            <xs:enumeration value="CAPPERCENT" />
            <xs:enumeration value="CATCHWEGHT" />
            <xs:enumeration value="COMMISSION" />
            <xs:enumeration value="COMPLETED" />
            <xs:enumeration value="CUMULATIVE" />
            <xs:enumeration value="DELIVERED" />
            <xs:enumeration value="DURATION" />
            <xs:enumeration value="DUROVER" />
            <xs:enumeration value="DURUNDER" />
            <xs:enumeration value="EMPLOYEES" />
            <xs:enumeration value="EMPREQD" />
            <xs:enumeration value="ESTDUR" />
            <xs:enumeration value="ESTHRS" />
            <xs:enumeration value="ESTWEIGHT" />
            <xs:enumeration value="FILENAME" />
            <xs:enumeration value="FILESIZE" />
            <xs:enumeration value="FIXEDTIME" />
            <xs:enumeration value="HEIGHT" />
            <xs:enumeration value="INSPECTED" />
            <xs:enumeration value="INSPECTION" />
            <xs:enumeration value="ITEM" />
            <xs:enumeration value="LDTMOFFSET" />
            <xs:enumeration value="LENGTH" />
            <xs:enumeration value="LABOR" />
            <xs:enumeration value="LOADINGWT" />
            <xs:enumeration value="LOTSIZEMAX" />
            <xs:enumeration value="LOTSIZEMIN" />
            <xs:enumeration value="LOTSIZEMLT" />
            <xs:enumeration value="LOWERLIMIT" />
            <xs:enumeration value="MACHINEHRS" />
            <xs:enumeration value="MAXIMUM" />
            <xs:enumeration value="MAXPARLTM" />
            <xs:enumeration value="MINIMUM" />
            <xs:enumeration value="MOVETIME" />
            <xs:enumeration value="MSMENT" />
            <xs:enumeration value="MULTIPLIER" />
            <xs:enumeration value="NETWEIGHT" />
            <xs:enumeration value="OPEN" />
            <xs:enumeration value="ORDERED" />
            <xs:enumeration value="OTHERREJ" />
            <xs:enumeration value="OVERSHIP" />
            <xs:enumeration value="PACKING" />
            <xs:enumeration value="PERCENT" />
            <xs:enumeration value="PERCENTREQ" />
            <xs:enumeration value="PERSHBNOPR" />
            <xs:enumeration value="PERSHWIOPR" />
            <xs:enumeration value="PLNDPRCT" />
            <xs:enumeration value="PRCBRK" />
            <xs:enumeration value="PRIOR" />
            <xs:enumeration value="QUEUETIME" />
            <xs:enumeration value="RATE" />
            <xs:enumeration value="RECEIVED" />
            <xs:enumeration value="REJECTED" />
            <xs:enumeration value="REJPERCENT" />
            <xs:enumeration value="REMDUR" />
            <xs:enumeration value="REMHRS" />
            <xs:enumeration value="REQUIRED" />
            <xs:enumeration value="RETURNED" />
            <xs:enumeration value="REWORK" />
            <xs:enumeration value="RUNTIME" />
            <xs:enumeration value="SCRAP" />
            <xs:enumeration value="SETUPTIME" />
            <xs:enumeration value="SHELFLIFE" />
            <xs:enumeration value="SHIPPED" />
            <xs:enumeration value="SHIPUNIT" />
            <xs:enumeration value="TEARDOWN" />
            <xs:enumeration value="TOTAL" />
            <xs:enumeration value="TOOLREQD" />
            <xs:enumeration value="TOTWEIGHT" />
            <xs:enumeration value="TRANSFRLOT" />
            <xs:enumeration value="UNDERSHIP" />
            <xs:enumeration value="UNIT" />
            <xs:enumeration value="UPPERLIMIT" />
            <xs:enumeration value="VOLUME" />
            <xs:enumeration value="WAITTIME" />
            <xs:enumeration value="WEIGHT" />
            <xs:enumeration value="WIDTH" />
            <xs:enumeration value="OTHER" />
            <xs:enumeration value="COLINX.TOTWEIGHT" />
            <xs:enumeration value="COLINX.ALLOWED" />
            <xs:enumeration value="COLINX.ORDERED" />
            <xs:enumeration value="COLINX.REMAIN" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="SENDER">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="LOGICALID" />
        <xs:element ref="COMPONENT" />
        <xs:element ref="TASK" />
        <xs:element ref="REFERENCEID" />
        <xs:element ref="CONFIRMATION" />
        <xs:element ref="LANGUAGE" />
        <xs:element ref="CODEPAGE" />
        <xs:element ref="AUTHID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEMPRATURE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="VALUE" />
        <xs:element ref="NUMOFDEC" />
        <xs:element ref="SIGN" />
      </xs:sequence>
      <xs:attribute name="qualifier" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="ACTUAL" />
            <xs:enumeration value="DELIVERY" />
            <xs:enumeration value="LOADING" />
            <xs:enumeration value="OTHER" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="CELSIUS" />
            <xs:enumeration value="FAHRENHEIT" />
            <xs:enumeration value="KELVIN" />
            <xs:enumeration value="OTHER" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="PARTNER">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NAME" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ONETIME" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PARTNRID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PARTNRTYPE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SYNCIND" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ACTIVE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CURRENCY" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DESCRIPTN" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DUNSNUMBER" />
        <xs:element minOccurs="0" maxOccurs="1" ref="GLENTITYS" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PARENTID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PARTNRIDX" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PARTNRRATG" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PARTNRROLE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PAYMETHOD" />
        <xs:element minOccurs="0" maxOccurs="1" ref="TAXEXEMPT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="TAXID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="TERMID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_PARTNER_USERAREA" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ADDRESS" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="CONTACT" />
      </xs:sequence>
      <xs:attribute name="returndata" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ADDRESS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ADDRLINE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ADDRTYPE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CITY" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COUNTRY" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COUNTY" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DESCRIPTN" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FAX" />
        <xs:element minOccurs="0" maxOccurs="1" ref="POSTALCODE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="REGION" />
        <xs:element minOccurs="0" maxOccurs="1" ref="STATEPROVN" />
        <xs:element minOccurs="0" maxOccurs="1" ref="TAXJRSDCTN" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="TELEPHONE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="URL" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_ADDRESS_USERAREA" />
      </xs:sequence>
      <xs:attribute name="returndata" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CONTACT">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NAME" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CONTCTTYPE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DESCRIPTN" />
        <xs:element minOccurs="0" maxOccurs="1" ref="EMAIL" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FAX" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="NAME" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="TELEPHONE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="USERAREA" />
      </xs:sequence>
      <xs:attribute name="returndata" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="COLINX_BILOLADING" type="xs:string" />
  <xs:element name="COLINX_CONSOLFLG" type="xs:string" />
  <xs:element name="COLINX_DEVIATEFLG" type="xs:string" />
  <xs:element name="COLINX_FRTACCTNUM" type="xs:string" />
  <xs:element name="COLINX_FRTBILLTYPE" type="xs:string" />
  <xs:element name="COLINX_LEGACYKEY" type="xs:string" />
  <xs:element name="COLINX_NETPRICE" type="xs:string" />
  <xs:element name="COLINX_NOTE">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="index" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="COLINX_ORDERTYPE" type="xs:string" />
  <xs:element name="COLINX_ORDTRANSID" type="xs:string" />
  <xs:element name="COLINX_PARTSHIP" type="xs:string" />
  <xs:element name="COLINX_PREFNAME" type="xs:string" />
  <xs:element name="COLINX_PREFVALUE" type="xs:string" />
  <xs:element name="COLINX_PREFDESC" type="xs:string" />
  <xs:element name="COLINX_SHIPCMNT" type="xs:string" />
  <xs:element name="COLINX_WIC" type="xs:string" />
  <xs:element name="COLINX_PREFERENCE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="COLINX_PREFNAME" />
        <xs:element ref="COLINX_PREFVALUE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_PREFDESC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="COLINX_PARTNER_USERAREA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="COLINX_PREFERENCE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="COLINX_ADDRESS_USERAREA">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="COLINX_LEGACYKEY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="COLINX_SHIPINSTR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_ORDERTYPE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_FRTBILLTYPE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_DEVIATEFLG" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_PARTSHIP" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_FRTACCTNUM" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_WIC" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_CONSOLFLG" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_SHIPCMNT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="COLINX_SHIPUNIT">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SHPUNITSEQ" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DATETIME" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CARRIER" />
        <xs:element minOccurs="0" maxOccurs="1" ref="TRACKINGID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CONTAINRID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SHPUNITSTS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="COLINX_SHIPMENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DOCUMENTID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_BILOLADING" />
        <xs:element ref="CARRIER" />
        <xs:element ref="QUANTITY" />
        <xs:element ref="DATETIME" />
        <xs:element minOccurs="0" maxOccurs="1" ref="OPERAMT" />
        <xs:element ref="SHPUNITTOT" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="COLINX_SHIPUNIT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DISTCENTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="COLINX_SUBITEMNO" type="xs:string" />
  <xs:element name="SOHEADER_USERAREA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_SHIPINSTR" />
        <xs:element minOccurs="0" maxOccurs="1" ref="QUANTITY" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_ORDTRANSID" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="COLINX_SHIPMENT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="MARK_FOR" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ORDERER" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="COLINX_NOTE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SPECIAL_INSTRUCTION">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="CODE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DESCRIPTN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SPECIAL_INSTRUCTIONS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SPECIAL_INSTRUCTION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PAGELIST">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PAGESIZE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="TOTALSIZE" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PAGEREF" />
      </xs:sequence>
      <xs:attribute name="element" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="PAGEREF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="REF" />
      </xs:sequence>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="REQUESTED" />
            <xs:enumeration value="INITIAL" />
            <xs:enumeration value="NEXT" />
            <xs:enumeration value="PREVIOUS" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="REF">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="qualifier" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="PAGESIZE" type="xs:string" />
  <xs:element name="TOTALSIZE" type="xs:string" />
  <xs:element name="LIST_SALESORDER_005">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CNTROLAREA" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="DATAAREA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DATAAREA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="LIST_SALESORDER" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PAGELIST" />
      </xs:sequence>
      <xs:attribute name="maxitems" type="xs:string" />
      <xs:attribute name="totalitems" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="PARTTYPE" type="xs:string" />
  <xs:element name="PARTNO" type="xs:string" />
  <xs:element name="PARTCLASS" type="xs:string" />
  <xs:element name="PARTKEY" type="xs:string" />
  <xs:element name="PARTQUAL" type="xs:string" />
  <xs:element name="PARTDESC" type="xs:string" />
  <xs:element name="PRIORITY" type="xs:string" />
  <xs:element name="LIST_SALESORDER">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SOHEADER" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SOLINE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOHEADER">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="DATETIME" />
        <xs:element minOccurs="0" maxOccurs="1" ref="OPERAMT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BACKORDIND" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CONTRACTB" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CONTRACTS" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COSTCENTER" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DEPARTMENT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DESCRIPTN" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DISTCENTER" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DIVISION" />
        <xs:element minOccurs="0" maxOccurs="1" ref="EXPORTLIC" />
        <xs:element minOccurs="0" maxOccurs="1" ref="GLENTITYS" />
        <xs:element minOccurs="0" maxOccurs="1" ref="GLNOMACCT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="IMPORTLIC" />
        <xs:element minOccurs="0" maxOccurs="1" ref="NOTES" />
        <xs:element minOccurs="0" maxOccurs="1" ref="OPRAMTAUTH" />
        <xs:element minOccurs="0" maxOccurs="1" ref="POID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="POLINENUM" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PROJECT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SALESORDID" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SALESORG" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SHIPNOTES" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SHIPPRIOR" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SITELEVEL" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SOSTATUS" />
        <xs:element minOccurs="0" maxOccurs="1" ref="TAXWHEXMPT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SOHEADER_USERAREA" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PARTNER" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SALESINFO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SALESINFO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="AMOUNT" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="QUANTITY" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SALESORG" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SALESPERSN" />
        <xs:element minOccurs="0" maxOccurs="1" ref="USERAREA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOLINE_USERAREA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="DATETIME" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_NETPRICE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_SUBITEMNO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PARTREF">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PARTTYPE" />
        <xs:element ref="PARTNO" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PARTCLASS" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PARTKEY" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PARTQUAL" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PARTDESC" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PRIORITY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOLINE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="DATETIME" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="OPERAMT" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="QUANTITY" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="TEMPRATURE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BACKORDIND" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BOMALTID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BOMID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BOMNAME" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BOMREVISON" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BOMSTATUS" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BOMTYPE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BOMUSAGE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CONTRACTB" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CONTRACTS" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DESCRIPTN" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DISTCENTER" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DRAWING" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DROPSHIP" />
        <xs:element minOccurs="0" maxOccurs="1" ref="EXPORTLIC" />
        <xs:element minOccurs="0" maxOccurs="1" ref="HAZRDMATL" />
        <xs:element minOccurs="0" maxOccurs="1" ref="IMPORTLIC" />
        <xs:element minOccurs="0" maxOccurs="1" ref="INVOICENUM" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ITEM" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ITEMRV" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ITEMRVX" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ITEMX" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="LOTLEVEL" />
        <xs:element minOccurs="0" maxOccurs="1" ref="NOTES" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PARTREF" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PACKING" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PARTIALSHP" />
        <xs:element minOccurs="0" maxOccurs="1" ref="POID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="POLINENUM" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PRICING_REFERENCE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PRODCTLINE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PROJECT" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PROPERTY" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ROUTINGID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SHIPNOTES" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SHIPPRIOR" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SOLINENUM" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SOLNSTATUS" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SUBSFLAG" />
        <xs:element minOccurs="0" maxOccurs="1" ref="TAXWHEXMPT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="UPC" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SOLINE_USERAREA" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PARTNER" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SALESINFO" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SOSCHEDULE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="WAREHOUSE_REFERENCE_NUMBER" />
        <xs:element minOccurs="0" maxOccurs="1" ref="TAXRATE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SUPPLIERTAXNUM" />
        <xs:element minOccurs="0" maxOccurs="1" ref="RECIPIENTTAXNUM" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SPECIAL_INSTRUCTIONS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOSCHEDULE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="DATETIME" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="OPERAMT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="QUANTITY" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="TEMPRATURE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BACKORDIND" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BOMALTID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BOMID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BOMNAME" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BOMREVISON" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BOMSTATUS" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BOMTYPE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BOMUSAGE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CONTRACTB" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CONTRACTS" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DESCRIPTN" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DISTCENTER" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DRAWING" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DROPSHIP" />
        <xs:element minOccurs="0" maxOccurs="1" ref="EXPORTLIC" />
        <xs:element minOccurs="0" maxOccurs="1" ref="HAZRDMATL" />
        <xs:element minOccurs="0" maxOccurs="1" ref="IMPORTLIC" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ITEM" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ITEMRV" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ITEMRVX" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ITEMX" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="LOTLEVEL" />
        <xs:element minOccurs="0" maxOccurs="1" ref="NOTES" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PACKING" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PARTIALSHP" />
        <xs:element minOccurs="0" maxOccurs="1" ref="POID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="POLINENUM" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PRODCTLINE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PROJECT" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PROPERTY" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PSCLINENUM" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ROUTINGID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SHIPNOTES" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SHIPPRIOR" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SOLINENUM" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SUBSFLAG" />
        <xs:element minOccurs="0" maxOccurs="1" ref="TAXWHEXMPT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="UPC" />
        <xs:element minOccurs="0" maxOccurs="1" ref="USERAREA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>