WebService.asmx/Classes/colinx_show_pricelist_002.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema xmlns="http://tempuri.org/colinx_show_pricelist_002" elementFormDefault="qualified" targetNamespace="http://tempuri.org/colinx_show_pricelist_002" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AUTHID" type="xs:string" />
  <xs:element name="BUSNAREA" type="xs:string" />
  <xs:element name="CATALGNAME" type="xs:string" />
  <xs:element name="CHARGEID" type="xs:string" />
  <xs:element name="CHARGETYPE" type="xs:string" />
  <xs:element name="CHGLINENUM" type="xs:string" />
  <xs:element name="CODE" type="xs:string" />
  <xs:element name="CODEPAGE" type="xs:string" />
  <xs:element name="COMPONENT" type="xs:string" />
  <xs:element name="CONFIRMATION" type="xs:string" />
  <xs:element name="COSTCENTER" type="xs:string" />
  <xs:element name="CURRENCY" type="xs:string" />
  <xs:element name="DAY" type="xs:string" />
  <xs:element name="DEPARTMENT" type="xs:string" />
  <xs:element name="DESCRIPTN" type="xs:string" />
  <xs:element name="DIVISION" type="xs:string" />
  <xs:element name="DRCR" type="xs:string" />
  <xs:element name="ELEMENT">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="index" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="FUND" type="xs:string" />
  <xs:element name="GEOGRAPHY" type="xs:string" />
  <xs:element name="GLENTITYS" type="xs:string" />
  <xs:element name="GLNOMACCT" type="xs:string" />
  <xs:element name="HOUR" type="xs:string" />
  <xs:element name="ITEMTYPE" type="xs:string" />
  <xs:element name="LANGUAGE" type="xs:string" />
  <xs:element name="LINENUM" type="xs:string" />
  <xs:element name="LOGICALID" type="xs:string" />
  <xs:element name="MINUTE" type="xs:string" />
  <xs:element name="MONTH" type="xs:string" />
  <xs:element name="NOUN">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="value" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="NUMOFDEC" type="xs:string" />
  <xs:element name="OVERIDPRIC" type="xs:string" />
  <xs:element name="PARTNRID" type="xs:string" />
  <xs:element name="PRICELSTID" type="xs:string" />
  <xs:element name="PRICELSTRV" type="xs:string" />
  <xs:element name="PRICING_REFERENCE" type="xs:string" />
  <xs:element name="PRDLINENUM" type="xs:string" />
  <xs:element name="PRODORDID" type="xs:string" />
  <xs:element name="PROFITCTR" type="xs:string" />
  <xs:element name="PROJECT" type="xs:string" />
  <xs:element name="REASONCODE" type="xs:string" />
  <xs:element name="REFERENCEID" type="xs:string" />
  <xs:element name="REVISION">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="value" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="SECOND" type="xs:string" />
  <xs:element name="SIGN" type="xs:string" />
  <xs:element name="SITELEVEL">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="index" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="SUBSECOND" type="xs:string" />
  <xs:element name="TASK" type="xs:string" />
  <xs:element name="TIMEZONE" type="xs:string" />
  <xs:element name="UOM" type="xs:string" />
  <xs:element name="UOMNUMDEC" type="xs:string" />
  <xs:element name="UOMVALUE" type="xs:string" />
  <xs:element name="UNIT" type="xs:string" />
  <xs:element name="USERAREA">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VALUE" type="xs:string" />
  <xs:element name="VERB">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="value" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="YEAR" type="xs:string" />
  <xs:element name="WAREHOUSE" type="xs:string" />
  <xs:element name="AMOUNT">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="VALUE" />
        <xs:element ref="NUMOFDEC" />
        <xs:element ref="SIGN" />
        <xs:element ref="CURRENCY" />
        <xs:element ref="DRCR" />
      </xs:sequence>
      <xs:attribute name="qualifier" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="ACTUAL" />
            <xs:enumeration value="APPRVORD" />
            <xs:enumeration value="AVAILABLE" />
            <xs:enumeration value="BUDGET" />
            <xs:enumeration value="COMMISSION" />
            <xs:enumeration value="DECLAREVAL" />
            <xs:enumeration value="DSCPRCNT" />
            <xs:enumeration value="DSCVALUE" />
            <xs:enumeration value="DISCNT" />
            <xs:enumeration value="DOCUMENT" />
            <xs:enumeration value="ESTENGIMP" />
            <xs:enumeration value="ESTFREIGHT" />
            <xs:enumeration value="ESTHRS" />
            <xs:enumeration value="ESTIMATE" />
            <xs:enumeration value="ESTMANIMP" />
            <xs:enumeration value="ESTUCOST" />
            <xs:enumeration value="EXTENDED" />
            <xs:enumeration value="FREIGHT" />
            <xs:enumeration value="ITEM" />
            <xs:enumeration value="OPENITEM" />
            <xs:enumeration value="ORDER" />
            <xs:enumeration value="ORDLIMIT" />
            <xs:enumeration value="PAYRATE" />
            <xs:enumeration value="RATE" />
            <xs:enumeration value="PRCBRK" />
            <xs:enumeration value="TAX" />
            <xs:enumeration value="TAXBASE" />
            <xs:enumeration value="TOTAL" />
            <xs:enumeration value="TOTLIMIT" />
            <xs:enumeration value="OTHER" />
            <xs:enumeration value="COLINX.DISCMULT" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="T" />
            <xs:enumeration value="F" />
            <xs:enumeration value="OTHER" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="index" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="BSR">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="VERB" />
        <xs:element ref="NOUN" />
        <xs:element ref="REVISION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CNTROLAREA">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="BSR" />
        <xs:element ref="SENDER" />
        <xs:element ref="DATETIME" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DATETIME">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="YEAR" />
        <xs:element ref="MONTH" />
        <xs:element ref="DAY" />
        <xs:element ref="HOUR" />
        <xs:element ref="MINUTE" />
        <xs:element ref="SECOND" />
        <xs:element ref="SUBSECOND" />
        <xs:element ref="TIMEZONE" />
      </xs:sequence>
      <xs:attribute name="qualifier" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="ACCOUNTING" />
            <xs:enumeration value="ACTEND" />
            <xs:enumeration value="ACTSTART" />
            <xs:enumeration value="APPREQ" />
            <xs:enumeration value="APPROVAL" />
            <xs:enumeration value="AVAILABLE" />
            <xs:enumeration value="BKTEND" />
            <xs:enumeration value="BKTSTART" />
            <xs:enumeration value="CANCEL" />
            <xs:enumeration value="CHANGEDATE" />
            <xs:enumeration value="COMPDATE" />
            <xs:enumeration value="CREATION" />
            <xs:enumeration value="CUMULATIVE" />
            <xs:enumeration value="DELIVACT" />
            <xs:enumeration value="DELIVSCHED" />
            <xs:enumeration value="DISCNT" />
            <xs:enumeration value="DOCUMENT" />
            <xs:enumeration value="DUE" />
            <xs:enumeration value="EARLSTEFF" />
            <xs:enumeration value="EARLSTSHIP" />
            <xs:enumeration value="EFFECTIVE" />
            <xs:enumeration value="ENGCHG" />
            <xs:enumeration value="EXECFINISH" />
            <xs:enumeration value="EXECSTART" />
            <xs:enumeration value="EXPIRATION" />
            <xs:enumeration value="FAILDATE" />
            <xs:enumeration value="FORECASTF" />
            <xs:enumeration value="FORECASTS" />
            <xs:enumeration value="FROM" />
            <xs:enumeration value="GENERATION" />
            <xs:enumeration value="IMPL" />
            <xs:enumeration value="INVOICE" />
            <xs:enumeration value="LABORFINSH" />
            <xs:enumeration value="LABORSTART" />
            <xs:enumeration value="LASTUSED" />
            <xs:enumeration value="LOADING" />
            <xs:enumeration value="MATCHING" />
            <xs:enumeration value="MSMENTDATE" />
            <xs:enumeration value="NEEDDELV" />
            <xs:enumeration value="OPFINISH" />
            <xs:enumeration value="OPSTART" />
            <xs:enumeration value="PAYEND" />
            <xs:enumeration value="PLANEND" />
            <xs:enumeration value="PLANSTART" />
            <xs:enumeration value="PO" />
            <xs:enumeration value="PROMDELV" />
            <xs:enumeration value="PROMSHIP" />
            <xs:enumeration value="PYMTTERM" />
            <xs:enumeration value="RECEIVED" />
            <xs:enumeration value="REPORTDATE" />
            <xs:enumeration value="REPORTNGFN" />
            <xs:enumeration value="REPORTNGST" />
            <xs:enumeration value="REQUIRED" />
            <xs:enumeration value="RESORCDWNF" />
            <xs:enumeration value="RESORCDWNS" />
            <xs:enumeration value="RSPDDATE" />
            <xs:enumeration value="RSPDOCGEN" />
            <xs:enumeration value="SCHEND" />
            <xs:enumeration value="SCHSTART" />
            <xs:enumeration value="SETUPFINSH" />
            <xs:enumeration value="SETUPSTART" />
            <xs:enumeration value="SHIP" />
            <xs:enumeration value="SHIPSCHED" />
            <xs:enumeration value="STATUSDATE" />
            <xs:enumeration value="TEARDOWNF" />
            <xs:enumeration value="TEARDOWNS" />
            <xs:enumeration value="TO" />
            <xs:enumeration value="OTHER" />
            <xs:enumeration value="COLINX.CARDEXP" />
            <xs:enumeration value="COLINX.REQUESTED" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="T" />
            <xs:enumeration value="F" />
            <xs:enumeration value="OTHER" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="index" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="OPERAMT">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="VALUE" />
        <xs:element ref="NUMOFDEC" />
        <xs:element ref="SIGN" />
        <xs:element ref="CURRENCY" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DRCR" />
        <xs:element ref="UOMVALUE" />
        <xs:element ref="UOMNUMDEC" />
        <xs:element ref="UOM" />
      </xs:sequence>
      <xs:attribute name="qualifier" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="COST" />
            <xs:enumeration value="EXTENDED" />
            <xs:enumeration value="EXTENDED_INCL_TAX" />
            <xs:enumeration value="FREIGHT" />
            <xs:enumeration value="UNIT" />
            <xs:enumeration value="OTHER" />
            <xs:enumeration value="LPRICE" />
            <xs:enumeration value="RVPRICE" />
            <xs:enumeration value="SHIPPING" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="T" />
            <xs:enumeration value="F" />
            <xs:enumeration value="OTHER" />
            <xs:enumeration value="LPRICE" />
            <xs:enumeration value="RVPRICE" />
            <xs:enumeration value="S" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="QUANTITY">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="VALUE" />
        <xs:element ref="NUMOFDEC" />
        <xs:element ref="SIGN" />
        <xs:element ref="UOM" />
      </xs:sequence>
      <xs:attribute name="qualifier" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="ACCEPTED" />
            <xs:enumeration value="ACTDUR" />
            <xs:enumeration value="ACTHRS" />
            <xs:enumeration value="ALLOCATED" />
            <xs:enumeration value="ALLOWEDWT" />
            <xs:enumeration value="AVAILABLE" />
            <xs:enumeration value="AVGRUNSIZE" />
            <xs:enumeration value="BACKORDERD" />
            <xs:enumeration value="BATCHSIZE" />
            <xs:enumeration value="BATCHTIME" />
            <xs:enumeration value="BLOCKED" />
            <xs:enumeration value="BREAKTIME" />
            <xs:enumeration value="CAPPERCENT" />
            <xs:enumeration value="CATCHWEGHT" />
            <xs:enumeration value="COMMISSION" />
            <xs:enumeration value="COMPLETED" />
            <xs:enumeration value="CUMULATIVE" />
            <xs:enumeration value="DELIVERED" />
            <xs:enumeration value="DURATION" />
            <xs:enumeration value="DUROVER" />
            <xs:enumeration value="DURUNDER" />
            <xs:enumeration value="EMPLOYEES" />
            <xs:enumeration value="EMPREQD" />
            <xs:enumeration value="ESTDUR" />
            <xs:enumeration value="ESTHRS" />
            <xs:enumeration value="ESTWEIGHT" />
            <xs:enumeration value="FILENAME" />
            <xs:enumeration value="FILESIZE" />
            <xs:enumeration value="FIXEDTIME" />
            <xs:enumeration value="HEIGHT" />
            <xs:enumeration value="INSPECTED" />
            <xs:enumeration value="INSPECTION" />
            <xs:enumeration value="ITEM" />
            <xs:enumeration value="LDTMOFFSET" />
            <xs:enumeration value="LENGTH" />
            <xs:enumeration value="LABOR" />
            <xs:enumeration value="LOADINGWT" />
            <xs:enumeration value="LOTSIZEMAX" />
            <xs:enumeration value="LOTSIZEMIN" />
            <xs:enumeration value="LOTSIZEMLT" />
            <xs:enumeration value="LOWERLIMIT" />
            <xs:enumeration value="MACHINEHRS" />
            <xs:enumeration value="MAXIMUM" />
            <xs:enumeration value="MAXPARLTM" />
            <xs:enumeration value="MINIMUM" />
            <xs:enumeration value="MOVETIME" />
            <xs:enumeration value="MSMENT" />
            <xs:enumeration value="MULTIPLIER" />
            <xs:enumeration value="NETWEIGHT" />
            <xs:enumeration value="OPEN" />
            <xs:enumeration value="ORDERED" />
            <xs:enumeration value="OTHERREJ" />
            <xs:enumeration value="OVERSHIP" />
            <xs:enumeration value="PACKING" />
            <xs:enumeration value="PERCENT" />
            <xs:enumeration value="PERCENTREQ" />
            <xs:enumeration value="PERSHBNOPR" />
            <xs:enumeration value="PERSHWIOPR" />
            <xs:enumeration value="PLNDPRCT" />
            <xs:enumeration value="PRCBRK" />
            <xs:enumeration value="PRIOR" />
            <xs:enumeration value="QUEUETIME" />
            <xs:enumeration value="RATE" />
            <xs:enumeration value="RECEIVED" />
            <xs:enumeration value="REJECTED" />
            <xs:enumeration value="REJPERCENT" />
            <xs:enumeration value="REMDUR" />
            <xs:enumeration value="REMHRS" />
            <xs:enumeration value="REQUIRED" />
            <xs:enumeration value="RETURNED" />
            <xs:enumeration value="REWORK" />
            <xs:enumeration value="RUNTIME" />
            <xs:enumeration value="SCRAP" />
            <xs:enumeration value="SETUPTIME" />
            <xs:enumeration value="SHELFLIFE" />
            <xs:enumeration value="SHIPPED" />
            <xs:enumeration value="SHIPUNIT" />
            <xs:enumeration value="TEARDOWN" />
            <xs:enumeration value="TOOLREQD" />
            <xs:enumeration value="TOTWEIGHT" />
            <xs:enumeration value="TRANSFRLOT" />
            <xs:enumeration value="UNDERSHIP" />
            <xs:enumeration value="UNIT" />
            <xs:enumeration value="UPPERLIMIT" />
            <xs:enumeration value="VOLUME" />
            <xs:enumeration value="WAITTIME" />
            <xs:enumeration value="WEIGHT" />
            <xs:enumeration value="WIDTH" />
            <xs:enumeration value="OTHER" />
            <xs:enumeration value="COLINX.TOTWEIGHT" />
            <xs:enumeration value="COLINX.ALLOWED" />
            <xs:enumeration value="COLINX.ORDERED" />
            <xs:enumeration value="COLINX.REMAIN" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="SENDER">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="LOGICALID" />
        <xs:element ref="COMPONENT" />
        <xs:element ref="TASK" />
        <xs:element ref="REFERENCEID" />
        <xs:element ref="CONFIRMATION" />
        <xs:element ref="LANGUAGE" />
        <xs:element ref="CODEPAGE" />
        <xs:element ref="AUTHID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DISTRIBUTN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="OPERAMT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BUSNAREA" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COSTCENTER" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DEPARTMENT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DIVISION" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ELEMENT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="FUND" />
        <xs:element minOccurs="0" maxOccurs="1" ref="GEOGRAPHY" />
        <xs:element minOccurs="0" maxOccurs="1" ref="GLENTITYS" />
        <xs:element minOccurs="0" maxOccurs="1" ref="GLNOMACCT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PROFITCTR" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PROJECT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="UNIT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="WAREHOUSE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="USERAREA" />
      </xs:sequence>
      <xs:attribute name="returndata" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CHARGE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="OPERAMT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CHARGEID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CHARGETYPE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CHGLINENUM" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DESCRIPTN" />
        <xs:element minOccurs="0" maxOccurs="1" ref="USERAREA" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="DISTRIBUTN" />
      </xs:sequence>
      <xs:attribute name="returndata" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="COLINX_AVAILDESC" type="xs:string" />
  <xs:element name="COLINX_BREAKSEQ" type="xs:string" />
  <xs:element name="COLINX_DISCCLASS" type="xs:string" />
  <xs:element name="COLINX_DISCMULT" type="xs:string" />
  <xs:element name="COLINX_INSTOCK" type="xs:string" />
  <xs:element name="COLINX_HOWPRICED" type="xs:string" />
  <xs:element name="COLINX_OEMNUM" type="xs:string" />
  <xs:element name="COLINX_ORDERTYPE" type="xs:string" />
  <xs:element name="COLINX_PRICETYPE" type="xs:string" />
  <xs:element name="COLINX_PRICEREF" type="xs:string" />
  <xs:element name="COLINX_SORTORDER" type="xs:string" />
  <xs:element name="ORDERABLE" type="xs:string" />
  <xs:element name="DEFAULTIND" type="xs:string" />
  <xs:element name="QTEID" type="xs:string" />
  <xs:element name="QTELINENUM" type="xs:string" />
  <xs:element name="QTESUBLINE" type="xs:string" />
  <xs:element name="QTETYPE" type="xs:string" />
  <xs:element name="COLINX_QTEREF">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="QTEID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="QTETYPE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="QTELINENUM" />
        <xs:element minOccurs="0" maxOccurs="1" ref="QTESUBLINE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="COLINX_STATUS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="REASONCODE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DESCRIPTN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="COLINX_FRTBILLTYPE" type="xs:string" />
  <xs:element name="COLINX_DEVIATEFLG" type="xs:string" />
  <xs:element name="COLINX_PARTSHIP" type="xs:string" />
  <xs:element name="COLINX_FRTACCTNUM" type="xs:string" />
  <xs:element name="COLINX_WIC" type="xs:string" />
  <xs:element name="COLINX_CONSOLFLG" type="xs:string" />
  <xs:element name="COLINX_SHIPCMNT" type="xs:string" />
  <xs:element name="DESTCNTRY" type="xs:string" />
  <xs:element name="CC_TYPE" type="xs:string" />
  <xs:element name="CC_NUMBER" type="xs:string" />
  <xs:element name="CC_VALID_T" type="xs:string" />
  <xs:element name="CC_NAME" type="xs:string" />
  <xs:element name="COLINX_CCAUTH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="CC_TYPE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CC_NUMBER" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CC_VALID_T" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CC_NAME" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="COLINX_SHIPINSTR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_ORDERTYPE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_FRTBILLTYPE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_CCAUTH" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_DEVIATEFLG" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_PARTSHIP" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_FRTACCTNUM" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_WIC" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_CONSOLFLG" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_SHIPCMNT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DESTCNTRY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LEAD_TIME">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="UOM" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="MATERIAL" type="xs:string" />
  <xs:element name="PLANT" type="xs:string" />
  <xs:element name="TYPE" type="xs:string" />
  <xs:element name="PACKING" type="xs:string" />
  <xs:element name="WHSEDETAIL">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="QUANTITY" />
        <xs:choice>
          <xs:element ref="COLINX_AVAILDESC" />
          <xs:element ref="DATETIME" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="SITELEVEL" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ORDERABLE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PRODORDID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PRIORITY" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PRDLINENUM" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_SORTORDER" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DEFAULTIND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PARTTYPE" type="xs:string" />
  <xs:element name="PARTNO" type="xs:string" />
  <xs:element name="PARTCLASS" type="xs:string" />
  <xs:element name="PARTKEY" type="xs:string" />
  <xs:element name="PARTQUAL" type="xs:string" />
  <xs:element name="PARTDESC" type="xs:string" />
  <xs:element name="PRIORITY" type="xs:string" />
  <xs:element name="PARTREF">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PARTTYPE" />
        <xs:element ref="PARTNO" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PARTCLASS" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PARTKEY" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PARTQUAL" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PARTDESC" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PRIORITY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="COLINX_PRODAVAIL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="DEFAULTIND" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_SORTORDER" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PACKING" />
        <xs:element minOccurs="0" maxOccurs="1" ref="OPERAMT" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="QUANTITY" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="WHSEDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MANUFACTURE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="LEAD_TIME" />
        <xs:element minOccurs="0" maxOccurs="1" ref="MATERIAL" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PLANT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="TYPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SPECIAL_INSTRUCTION">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="CODE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DESCRIPTN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SPECIAL_INSTRUCTIONS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SPECIAL_INSTRUCTION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SORT_ORDER" type="xs:string" />
  <xs:element name="LIMIT_ORDERABLE_QUANTITY" type="xs:string" />
  <xs:element name="SHIPMENT_GROUP" type="xs:string" />
  <xs:element name="SHIPMENT_OPTION">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="SORT_ORDER" />
        <xs:element minOccurs="0" maxOccurs="1" ref="LIMIT_ORDERABLE_QUANTITY" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SITELEVEL" />
        <xs:element ref="SHIPMENT_GROUP" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CHARGE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REQUEST_FREIGHT_CHARGE" type="xs:string" />
  <xs:element name="PRICELIST_USERAREA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="QTEID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_OEMNUM" />
        <xs:element minOccurs="0" maxOccurs="1" ref="REQUEST_FREIGHT_CHARGE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_SHIPINSTR" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="OPERAMT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="QUANTITY" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="CHARGE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="COLINX_CONTRACTDESC" type="xs:string" />
  <xs:element name="PRCLSTLINE_USERAREA">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="COLINX_INSTOCK" />
        <xs:element ref="DATETIME" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="QUANTITY" />
        <xs:element ref="COLINX_STATUS" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_DISCCLASS" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SITELEVEL" />
        <xs:element minOccurs="0" maxOccurs="1" ref="MANUFACTURE" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SHIPMENT_OPTION" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="COLINX_PRODAVAIL" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_QTEREF" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ITEMTYPE" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="CHARGE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="OPERAMT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_CONTRACTDESC" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PRICING_REFERENCE" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SPECIAL_INSTRUCTIONS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LINEPRCBRK_USERAREA">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="COLINX_PRICETYPE" />
        <xs:element ref="COLINX_BREAKSEQ" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_DISCMULT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_HOWPRICED" />
        <xs:element minOccurs="0" maxOccurs="1" ref="COLINX_PRICEREF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SHOW_PRICELIST_002">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CNTROLAREA" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="DATAAREA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DATAAREA">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SHOW_PRICELIST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SHOW_PRICELIST">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PRICELIST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRICELIST">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="DATETIME" />
        <xs:element ref="PRICELSTID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CURRENCY" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DESCRIPTN" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PRICELSTRV" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PARTNRID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PRICELIST_USERAREA" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PRCLSTLINE" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="LISTPRCBRK" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PRCLSTQUAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRCLSTLINE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="OPERAMT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DESCRIPTN" />
        <xs:element minOccurs="0" maxOccurs="1" ref="LINENUM" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="PARTREF" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PRCLSTLINE_USERAREA" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="LINEPRCBRK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LINEPRCBRK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="DESCRIPTN" />
        <xs:element minOccurs="0" maxOccurs="1" ref="LINEPRCBRK_USERAREA" />
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="AMOUNT" />
          <xs:element ref="QUANTITY" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="OVERIDPRIC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LISTPRCBRK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="AMOUNT" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DESCRIPTN" />
        <xs:element minOccurs="0" maxOccurs="1" ref="USERAREA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRCLSTQUAL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="DESCRIPTN" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SITELEVEL" />
        <xs:element minOccurs="0" maxOccurs="1" ref="USERAREA" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CATALGNAME" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PARTNRID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>