WebService.asmx/Classes/colinx_acknowledge_po_006.dtd

<!ELEMENT ACKCODE (#PCDATA)>

<!ELEMENT ACKREQUEST (#PCDATA)>

<!ELEMENT ACTIVE (#PCDATA)>

<!ELEMENT ADDRLINE (#PCDATA)>

<!ATTLIST ADDRLINE
           index CDATA #REQUIRED>
<!ELEMENT ADDRTYPE (#PCDATA)>

<!ELEMENT AUTHID (#PCDATA)>

<!ELEMENT BUSNAREA (#PCDATA)>

<!ELEMENT CHARGEID (#PCDATA)>

<!ELEMENT CHARGETYPE (#PCDATA)>

<!ELEMENT CHGLINENUM (#PCDATA)>

<!ELEMENT CITY (#PCDATA)>

<!ELEMENT CODE (#PCDATA)>
<!ELEMENT CODEPAGE (#PCDATA)>

<!ELEMENT COMPONENT (#PCDATA)>

<!ELEMENT CONFIRMATION (#PCDATA)>

<!ELEMENT CONTCTTYPE (#PCDATA)>

<!ELEMENT CONTRACTB (#PCDATA)>

<!ELEMENT CONTRACTS (#PCDATA)>

<!ELEMENT COUNTRY (#PCDATA)>

<!ELEMENT COUNTY (#PCDATA)>

<!ELEMENT COSTCENTER (#PCDATA)>

<!ELEMENT CURRENCY (#PCDATA)>

<!ELEMENT DAY (#PCDATA)>

<!ELEMENT DAYOFMONTH (#PCDATA)>

<!ELEMENT DAYSNUM (#PCDATA)>

<!ELEMENT DEPARTMENT (#PCDATA)>

<!ELEMENT DESCRIPTN (#PCDATA)>

<!ELEMENT DIVISION (#PCDATA)>

<!ELEMENT DRAWING (#PCDATA)>

<!ELEMENT DRCR (#PCDATA)>

<!ELEMENT DUNSNUMBER (#PCDATA)>

<!ELEMENT ELEMENT (#PCDATA)>

<!ATTLIST ELEMENT
           index CDATA #REQUIRED>
<!ELEMENT EMAIL (#PCDATA)>

<!ELEMENT FAX (#PCDATA)>

<!ATTLIST FAX
           index CDATA #REQUIRED>
<!ELEMENT FUND (#PCDATA)>

<!ELEMENT GEOGRAPHY (#PCDATA)>

<!ELEMENT GLENTITYS (#PCDATA)>

<!ELEMENT GLNOMACCT (#PCDATA)>

<!ELEMENT HAZRDMATL (#PCDATA)>

<!ELEMENT HOUR (#PCDATA)>

<!ELEMENT ITEM (#PCDATA)>

<!ELEMENT ITEMRV (#PCDATA)>

<!ELEMENT ITEMRVX (#PCDATA)>

<!ELEMENT ITEMTYPE (#PCDATA)>

<!ELEMENT ITEMX (#PCDATA)>

<!ELEMENT LANGUAGE (#PCDATA)>

<!ELEMENT LOGICALID (#PCDATA)>

<!ELEMENT MINUTE (#PCDATA)>

<!ELEMENT MONTH (#PCDATA)>

<!ELEMENT NAME (#PCDATA)>

<!ATTLIST NAME
           index CDATA #REQUIRED>
<!ELEMENT NOTES (#PCDATA)>

<!ELEMENT NOUN (#PCDATA)>

<!ELEMENT NUMOFDEC (#PCDATA)>

<!ELEMENT ONETIME (#PCDATA)>

<!ELEMENT OPRAMTAUTH (#PCDATA)>

<!ELEMENT PACKING (#PCDATA)>

<!ELEMENT PARENTID (#PCDATA)>

<!ELEMENT PARTNRID (#PCDATA)>

<!ELEMENT PARTNRIDX (#PCDATA)>

<!ELEMENT PARTNRRATG (#PCDATA)>

<!ELEMENT PARTNRROLE (#PCDATA)>

<!ELEMENT PARTNRTYPE (#PCDATA)>

<!ELEMENT PAYMETHOD (#PCDATA)>

<!ELEMENT POID (#PCDATA)>

<!ELEMENT POLINENUM (#PCDATA)>

<!ELEMENT POLNSTATUS (#PCDATA)>

<!ELEMENT PORELEASE (#PCDATA)>

<!ELEMENT POSTALCODE (#PCDATA)>

<!ELEMENT POTYPE (#PCDATA)>

<!ELEMENT PRICING_REFERENCE (#PCDATA)>

<!ELEMENT PRODCTLINE (#PCDATA)>

<!ELEMENT PROFITCTR (#PCDATA)>

<!ELEMENT PROJECT (#PCDATA)>

<!ELEMENT PROXMONTH (#PCDATA)>

<!ELEMENT PSBLINENUM (#PCDATA)>

<!ELEMENT PSCLINENUM (#PCDATA)>

<!ELEMENT QTEID (#PCDATA)>

<!ELEMENT QTELINENUM (#PCDATA)>

<!ELEMENT QTESUBLINE (#PCDATA)>

<!ELEMENT QTETYPE (#PCDATA)>

<!ELEMENT REFERENCEID (#PCDATA)>

<!ELEMENT REGION (#PCDATA)>

<!ELEMENT REVISION (#PCDATA)>

<!ELEMENT SALESORDID (#PCDATA)>

<!ELEMENT SECOND (#PCDATA)>

<!ELEMENT SIGN (#PCDATA)>

<!ELEMENT SITELEVEL (#PCDATA)>

<!ATTLIST SITELEVEL
           index CDATA #REQUIRED>
<!ELEMENT STATEPROVN (#PCDATA)>

<!ELEMENT SUBSECOND (#PCDATA)>

<!ELEMENT SYNCIND (#PCDATA)>

<!ELEMENT TASK (#PCDATA)>

<!ELEMENT TAXEXEMPT (#PCDATA)>

<!ELEMENT TAXID (#PCDATA)>

<!ELEMENT TAXJRSDCTN (#PCDATA)>

<!ELEMENT TAXWHEXMPT (#PCDATA)>

<!ELEMENT TELEPHONE (#PCDATA)>

<!ATTLIST TELEPHONE
           index CDATA #REQUIRED>
<!ELEMENT TERMID (#PCDATA)>

<!ELEMENT TIMEZONE (#PCDATA)>

<!ELEMENT UNIT (#PCDATA)>

<!ELEMENT UOM (#PCDATA)>

<!ELEMENT UOMNUMDEC (#PCDATA)>

<!ELEMENT UOMVALUE (#PCDATA)>

<!ELEMENT UPC (#PCDATA)>

<!ELEMENT URL (#PCDATA)>

<!ELEMENT USERAREA ANY>

<!ELEMENT VALUE (#PCDATA)>

<!ELEMENT VERB (#PCDATA)>

<!ELEMENT WAREHOUSE (#PCDATA)>

<!ELEMENT YEAR (#PCDATA)>

<!ELEMENT BSR (VERB,NOUN,REVISION)>

<!ELEMENT CNTROLAREA (BSR,SENDER,DATETIME)>

<!ELEMENT DATETIME (YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,SUBSECOND,TIMEZONE)>

<!ATTLIST DATETIME
           qualifier ( ACCOUNTING | ACTEND | ACTSTART | APPREQ | APPROVAL | AVAILABLE | BKTEND | BKTSTART | CANCEL | CHANGEDATE | COMPDATE | CREATION | CUMULATIVE | DELIVACT | DELIVSCHED | DISCNT | DOCUMENT | DUE | EARLSTEFF | EARLSTSHIP | EFFECTIVE | ENGCHG | EXECFINISH | EXECSTART | EXPIRATION | FAILDATE | FORECASTF | FORECASTS | FROM | GENERATION | IMPL | INVOICE | LABORFINSH | LABORSTART | LASTUSED | LOADING | MATCHING | MSMENTDATE | NEEDDELV | OPFINISH | OPSTART | PAYEND | PLANEND | PLANSTART | PO | PROMDELV | PROMSHIP | PYMTTERM | RECEIVED | REPORTDATE | REPORTNGFN | REPORTNGST | REQUIRED | RESORCDWNF | RESORCDWNS | RSPDDATE | RSPDOCGEN | SCHEND | SCHSTART | SETUPFINSH | SETUPSTART | SHIP | SHIPSCHED | STATUSDATE | TEARDOWNF | TEARDOWNS | TO | OTHER | COLINX.CARDEXP | COLINX.REQUESTED) #REQUIRED
           type ( T | F | OTHER) #IMPLIED
           index CDATA #IMPLIED>
<!ELEMENT OPERAMT (VALUE,NUMOFDEC,SIGN,CURRENCY,DRCR?,UOMVALUE,UOMNUMDEC,UOM)>

<!ATTLIST OPERAMT
           qualifier ( COST | EXTENDED | EXTENDED_INCL_TAX | FREIGHT | UNIT | OTHER | LPRICE | RVPRICE | SHIPPING ) #REQUIRED
           type ( T | F | OTHER | LPRICE | RVPRICE | S ) #REQUIRED>
<!ELEMENT QUANTITY (VALUE,NUMOFDEC,SIGN,UOM)>

<!ATTLIST QUANTITY
           qualifier ( ACCEPTED | ACTDUR | ACTHRS | ALLOCATED | ALLOWEDWT | AVAILABLE | AVGRUNSIZE | BACKORDERD | BATCHSIZE | BATCHTIME | BLOCKED | BREAKTIME | CAPPERCENT | CATCHWEGHT | COMMISSION | COMPLETED | CUMULATIVE | DELIVERED | DURATION | DUROVER | DURUNDER | EMPLOYEES | EMPREQD | ESTDUR | ESTHRS | ESTWEIGHT | FILENAME | FILESIZE | FIXEDTIME | HEIGHT | INSPECTED | INSPECTION | ITEM | LDTMOFFSET | LENGTH | LABOR | LOADINGWT | LOTSIZEMAX | LOTSIZEMIN | LOTSIZEMLT | LOWERLIMIT | MACHINEHRS | MAXIMUM | MAXPARLTM | MINIMUM | MOVETIME | MSMENT | MULTIPLIER | NETWEIGHT | OPEN | ORDERED | OTHERREJ | OVERSHIP | PACKING | PERCENT | PERCENTREQ | PERSHBNOPR | PERSHWIOPR | PLNDPRCT | PRCBRK | PRIOR | QUEUETIME | RATE | RECEIVED | REJECTED | REJPERCENT | REMDUR | REMHRS | REQUIRED | RETURNED | REWORK | RUNTIME | SCRAP | SETUPTIME | SHELFLIFE | SHIPPED | SHIPUNIT | TEARDOWN | TOOLREQD | TOTWEIGHT | TRANSFRLOT | UNDERSHIP | UNIT | UPPERLIMIT | VOLUME | WAITTIME | WEIGHT | WIDTH | OTHER | COLINX.TOTWEIGHT | COLINX.ALLOWED | COLINX.ORDERED | COLINX.REMAIN) #REQUIRED>
<!ELEMENT SENDER (LOGICALID,COMPONENT,TASK,REFERENCEID,CONFIRMATION,LANGUAGE,CODEPAGE,AUTHID)>

<!ELEMENT PARTNER (NAME,ONETIME?,PARTNRID?,PARTNRTYPE?,SYNCIND?,ACTIVE?,CURRENCY?,DESCRIPTN?,DUNSNUMBER?,GLENTITYS?,PARENTID?,PARTNRIDX?,PARTNRRATG?,PARTNRROLE?,PAYMETHOD?,TAXEXEMPT?,TAXID?,TERMID?,COLINX_PARTNER_USERAREA?,ADDRESS*,CONTACT*)>

<!ATTLIST PARTNER
           returndata CDATA #IMPLIED>
<!ELEMENT ADDRESS (ADDRLINE*,ADDRTYPE?,CITY?,COUNTRY?,COUNTY?,DESCRIPTN?,FAX*,POSTALCODE?,REGION?,STATEPROVN?,TAXJRSDCTN?,TELEPHONE*,URL?,COLINX_ADDRESS_USERAREA?)>

<!ATTLIST ADDRESS
           returndata CDATA #IMPLIED>
<!ELEMENT CONTACT (NAME,CONTCTTYPE?,DESCRIPTN?,EMAIL?,FAX*,NAME*,TELEPHONE*,USERAREA?)>

<!ATTLIST CONTACT
           returndata CDATA #IMPLIED>
<!ELEMENT CHARGE ((OPERAMT)?,CHARGEID?,CHARGETYPE?,CHGLINENUM?,DESCRIPTN?,USERAREA?,DISTRIBUTN*)>

<!ATTLIST CHARGE
           returndata CDATA #IMPLIED>
<!ELEMENT DISTRIBUTN ((OPERAMT)?,BUSNAREA?,COSTCENTER?,DEPARTMENT?,DIVISION?,ELEMENT*,FUND?,GEOGRAPHY?,GLENTITYS?,GLNOMACCT?,PROFITCTR?,PROJECT?,UNIT?,WAREHOUSE?,USERAREA?)>

<!ATTLIST DISTRIBUTN
           returndata CDATA #IMPLIED>
<!ELEMENT COLINX_ALLOWSPLIT (#PCDATA)>

<!ELEMENT COLINX_CARDFNAME (#PCDATA)>

<!ELEMENT COLINX_CARDLNAME (#PCDATA)>

<!ELEMENT COLINX_CARDMNAME (#PCDATA)>

<!ELEMENT COLINX_CARDNUM (#PCDATA)>

<!ELEMENT COLINX_CARDTYPE (#PCDATA)>

<!ELEMENT COLINX_CONSOLFLG (#PCDATA)>

<!ELEMENT COLINX_DEVIATEFLG (#PCDATA)>

<!ELEMENT COLINX_DIVISION (#PCDATA)>

<!ELEMENT COLINX_FRTACCTNUM (#PCDATA)>

<!ELEMENT COLINX_LEGACYKEY (#PCDATA)>

<!ELEMENT COLINX_ORDERTYPE (#PCDATA)>

<!ELEMENT COLINX_ORDTRANSID (#PCDATA)>

<!ELEMENT COLINX_PARTSHIP (#PCDATA)>

<!ELEMENT COLINX_PREFNAME (#PCDATA)>

<!ELEMENT COLINX_PREFVALUE (#PCDATA)>

<!ELEMENT COLINX_PREFDESC (#PCDATA)>

<!ELEMENT COLINX_SHIPCMNT (#PCDATA)>

<!ELEMENT COLINX_SPRTPACK (#PCDATA)>

<!ELEMENT COLINX_FRTBILLTYPE (#PCDATA)>

<!ELEMENT DESTCNTRY (#PCDATA)>

<!ELEMENT INTRMNOTES (#PCDATA)>

<!ELEMENT INTRMATTN (#PCDATA)>

<!ATTLIST INTRMNOTES
           qualifier ( MARKFOR1 | MARKFOR2) #REQUIRED>

<!ATTLIST INTRMATTN
           qualifier ( ATTENTN1 | ATTENTN2) #REQUIRED>

<!ELEMENT INTERIM_ADDR (INTRMNOTES*,INTRMATTN*,PARTNER)>

<!ELEMENT PARTTYPE (#PCDATA)>
<!ELEMENT PARTNO (#PCDATA)>
<!ELEMENT PARTCLASS (#PCDATA)>
<!ELEMENT PARTKEY (#PCDATA)>
<!ELEMENT PARTQUAL (#PCDATA)>
<!ELEMENT PARTDESC (#PCDATA)>
<!ELEMENT PRIORITY (#PCDATA)>
<!ELEMENT PARTREF ( PARTTYPE, PARTNO, PARTCLASS?, PARTKEY?, PARTQUAL?, PARTDESC?, PRIORITY?)>

<!ELEMENT COLINX_WIC (#PCDATA)>

<!ELEMENT CARD_TYPE (#PCDATA)>
<!ELEMENT CARD_VALID_CODE (#PCDATA)>
<!ELEMENT CARD_NUM_LAST_FOUR (#PCDATA)>
<!ELEMENT CARD_NUMBER (#PCDATA)>
<!ELEMENT COLINX_CREDITCARD (CARD_TYPE, DATETIME,  CARD_NUM_LAST_FOUR, CARD_NUMBER?,CARD_VALID_CODE? ,  PARTNER? )>


<!ELEMENT COLINX_SHIPINSTR (COLINX_ORDERTYPE?,COLINX_FRTBILLTYPE?,COLINX_DEVIATEFLG?,COLINX_PARTSHIP?,COLINX_FRTACCTNUM?,COLINX_WIC?,COLINX_CONSOLFLG?,COLINX_SHIPCMNT?,DESTCNTRY?)>

<!ELEMENT COLINX_QTEREF (QTEID,QTETYPE?,QTELINENUM?,QTESUBLINE?)>

<!ELEMENT COLINX_PREFERENCE (COLINX_PREFNAME,COLINX_PREFVALUE,COLINX_PREFDESC?)>

<!ELEMENT COLINX_PARTNER_USERAREA (COLINX_PREFERENCE*)>

<!ELEMENT COLINX_ADDRESS_USERAREA (COLINX_LEGACYKEY)>

<!ELEMENT POORDERHDR_USERAREA (COLINX_ORDTRANSID,COLINX_SHIPINSTR,COLINX_DIVISION?,QTEID?,COLINX_CREDITCARD?,INTERIM_ADDR?)>

<!ELEMENT COLINX_SUBITEMNO (#PCDATA)>
<!ELEMENT COLINX_RELEASENO (#PCDATA)>

<!ELEMENT SPECIAL_INSTRUCTION (CODE?, DESCRIPTN?)>
<!ELEMENT SPECIAL_INSTRUCTIONS (SPECIAL_INSTRUCTION*)>

<!ELEMENT SORT_ORDER (#PCDATA)>
<!ELEMENT LIMIT_ORDERABLE_QUANTITY (#PCDATA)>
<!ELEMENT SHIPMENT_GROUP (#PCDATA)>
<!ELEMENT SHIPMENT_OPTION (SORT_ORDER?, LIMIT_ORDERABLE_QUANTITY?, SITELEVEL?, SHIPMENT_GROUP, (CHARGE)?)>

<!ELEMENT POORDERLIN_USERAREA (COLINX_SPRTPACK?,COLINX_ALLOWSPLIT?,COLINX_WIC?,COLINX_PARTSHIP?,SITELEVEL?,SHIPMENT_OPTION?,COLINX_QTEREF?,ITEMTYPE?, COLINX_SUBITEMNO?, COLINX_RELEASENO?)>

<!ELEMENT ACKNOWLEDGE_PO_006 (CNTROLAREA,DATAAREA+)>

<!ATTLIST VERB
           value CDATA #IMPLIED>
<!ATTLIST NOUN
           value CDATA #IMPLIED>
<!ATTLIST REVISION
           value CDATA #IMPLIED>
<!ELEMENT DATAAREA (ACKNOWLEDGE_PO)>

<!ELEMENT ACKNOWLEDGE_PO (POORDERHDR,POORDERLIN*)>

<!ELEMENT POORDERHDR ((DATETIME)?,(OPERAMT)*,(QUANTITY)?,(CHARGE)*,POID,POTYPE,ACKREQUEST?,CONTRACTB?,CONTRACTS?,DESCRIPTN?,NOTES?,OPRAMTAUTH?,PORELEASE?,TAXWHEXMPT?,POORDERHDR_USERAREA,ACKHEADER,PARTNER*,POTERM*)>

<!ELEMENT ACKHEADER (DATETIME*,ACKCODE,CHARGE*,DESCRIPTN?,NOTES?,SALESORDID?,USERAREA?)>

<!ELEMENT POTERM (DESCRIPTN?,TERMID,((DAYOFMONTH,PROXMONTH) | DAYSNUM)?,((OPERAMT) | (QUANTITY)),USERAREA?)>

<!ELEMENT POORDERLIN ((QUANTITY),(DATETIME)?,(OPERAMT)?,POLINENUM,DRAWING?,HAZRDMATL?,ITEMRV?,ITEMRVX?,NOTES?,PACKING?,POLNSTATUS?,PRICING_REFERENCE?,TAXWHEXMPT?,PARTREF+,DESCRIPTN?,UPC?,POORDERLIN_USERAREA?,ACKLINE,CHARGE*,DISTRIBUTN*,PARTNER*,POTERM*,POLINESCHD*)>

<!ELEMENT ACKLINE (DATETIME*,(QUANTITY)*,ACKCODE,NOTES?,SALESORDID?,PACKING?,SITELEVEL?, SHIPMENT_OPTION?, USERAREA? ,POLINENUM?, COLINX_SUBITEMNO?, SPECIAL_INSTRUCTIONS?)>

<!ELEMENT POLINESCHD ((DATETIME),(QUANTITY),DESCRIPTN?,PSCLINENUM?,USERAREA?)>

