WebService.asmx/colinx_list_salesorder_005.dtd

<!ELEMENT ACTIVE (#PCDATA)>

<!ELEMENT ADDRLINE (#PCDATA)>

<!ATTLIST ADDRLINE
           index CDATA #REQUIRED>
<!ELEMENT ADDRTYPE (#PCDATA)>

<!ELEMENT AUTHID (#PCDATA)>

<!ELEMENT BACKORDIND (#PCDATA)>

<!ELEMENT BOMALTID (#PCDATA)>

<!ELEMENT BOMID (#PCDATA)>

<!ELEMENT BOMNAME (#PCDATA)>

<!ELEMENT BOMREVISON (#PCDATA)>

<!ELEMENT BOMSTATUS (#PCDATA)>

<!ELEMENT BOMTYPE (#PCDATA)>

<!ELEMENT BOMUSAGE (#PCDATA)>

<!ELEMENT CARRIER (#PCDATA)>

<!ELEMENT CITY (#PCDATA)>

<!ELEMENT CODE (#PCDATA)>
<!ELEMENT CODEPAGE (#PCDATA)>

<!ELEMENT COMPONENT (#PCDATA)>

<!ELEMENT CONFIRMATION (#PCDATA)>

<!ELEMENT CONTAINRID (#PCDATA)>

<!ELEMENT CONTCTTYPE (#PCDATA)>

<!ELEMENT CONTRACTB (#PCDATA)>

<!ELEMENT CONTRACTS (#PCDATA)>

<!ELEMENT COUNTRY (#PCDATA)>

<!ELEMENT COUNTY (#PCDATA)>

<!ELEMENT COSTCENTER (#PCDATA)>

<!ELEMENT CURRENCY (#PCDATA)>

<!ELEMENT DAY (#PCDATA)>

<!ELEMENT DEPARTMENT (#PCDATA)>

<!ELEMENT DESCRIPTN (#PCDATA)>

<!ELEMENT DISTCENTER (#PCDATA)>

<!ELEMENT DIVISION (#PCDATA)>

<!ELEMENT DOCUMENTID (#PCDATA)>

<!ELEMENT DRAWING (#PCDATA)>

<!ELEMENT DRCR (#PCDATA)>

<!ELEMENT DROPSHIP (#PCDATA)>

<!ELEMENT DUNSNUMBER (#PCDATA)>

<!ELEMENT EMAIL (#PCDATA)>

<!ELEMENT EXPORTLIC (#PCDATA)>

<!ELEMENT FAX (#PCDATA)>

<!ATTLIST FAX
           index CDATA #REQUIRED>
<!ELEMENT GLENTITYS (#PCDATA)>

<!ELEMENT GLNOMACCT (#PCDATA)>

<!ELEMENT HAZRDMATL (#PCDATA)>

<!ELEMENT HOUR (#PCDATA)>

<!ELEMENT IMPORTLIC (#PCDATA)>

<!ELEMENT INVOICENUM (#PCDATA)>

<!ELEMENT ITEM (#PCDATA)>

<!ELEMENT ITEMRV (#PCDATA)>

<!ELEMENT ITEMRVX (#PCDATA)>

<!ELEMENT ITEMTYPE (#PCDATA)>

<!ELEMENT ITEMX (#PCDATA)>

<!ELEMENT LANGUAGE (#PCDATA)>

<!ELEMENT LOGICALID (#PCDATA)>

<!ELEMENT LOTLEVEL (#PCDATA)>

<!ATTLIST LOTLEVEL
           index CDATA #REQUIRED>
           
<!ELEMENT MARK_FOR (#PCDATA)>

<!ELEMENT MINUTE (#PCDATA)>

<!ELEMENT MONTH (#PCDATA)>

<!ELEMENT NAME (#PCDATA)>

<!ATTLIST NAME
           index CDATA #REQUIRED>
<!ELEMENT NOTES (#PCDATA)>

<!ELEMENT NOUN (#PCDATA)>

<!ELEMENT NUMOFDEC (#PCDATA)>

<!ELEMENT ONETIME (#PCDATA)>

<!ELEMENT OPRAMTAUTH (#PCDATA)>

<!ELEMENT ORDERER (#PCDATA)>

<!ELEMENT PACKING (#PCDATA)>

<!ELEMENT PARENTID (#PCDATA)>

<!ELEMENT PARTIALSHP (#PCDATA)>

<!ELEMENT PARTNRID (#PCDATA)>

<!ELEMENT PARTNRIDX (#PCDATA)>

<!ELEMENT PARTNRRATG (#PCDATA)>

<!ELEMENT PARTNRROLE (#PCDATA)>

<!ELEMENT PARTNRTYPE (#PCDATA)>

<!ELEMENT PAYMETHOD (#PCDATA)>

<!ELEMENT POID (#PCDATA)>

<!ELEMENT POLINENUM (#PCDATA)>

<!ELEMENT POSTALCODE (#PCDATA)>

<!ELEMENT PRICING_REFERENCE (#PCDATA)>

<!ELEMENT PRODCTLINE (#PCDATA)>

<!ELEMENT PROJECT (#PCDATA)>

<!ELEMENT PROPERTY (#PCDATA)>

<!ATTLIST PROPERTY
           index CDATA #REQUIRED>
<!ELEMENT PSCLINENUM (#PCDATA)>

<!ELEMENT REFERENCEID (#PCDATA)>

<!ELEMENT REGION (#PCDATA)>

<!ELEMENT REVISION (#PCDATA)>

<!ELEMENT ROUTINGID (#PCDATA)>

<!ELEMENT SALESORDID (#PCDATA)>

<!ELEMENT SALESORG (#PCDATA)>

<!ATTLIST SALESORG
           index CDATA #REQUIRED>
<!ELEMENT SALESPERSN (#PCDATA)>

<!ELEMENT SECOND (#PCDATA)>

<!ELEMENT SHIPNOTES (#PCDATA)>

<!ELEMENT SHIPPRIOR (#PCDATA)>

<!ELEMENT SHPUNITSEQ (#PCDATA)>

<!ELEMENT SHPUNITSTS (#PCDATA)>

<!ELEMENT SIGN (#PCDATA)>

<!ELEMENT SITELEVEL (#PCDATA)>

<!ATTLIST SITELEVEL
           index CDATA #REQUIRED>
           
<!ELEMENT SHPUNITTOT (#PCDATA)>

<!ELEMENT SOLINENUM (#PCDATA)>

<!ELEMENT SOLNSTATUS (#PCDATA)>

<!ELEMENT SOSTATUS (#PCDATA)>

<!ELEMENT STATEPROVN (#PCDATA)>

<!ELEMENT SUBSECOND (#PCDATA)>

<!ELEMENT SUBSFLAG (#PCDATA)>

<!ELEMENT SYNCIND (#PCDATA)>

<!ELEMENT TASK (#PCDATA)>

<!ELEMENT TAXEXEMPT (#PCDATA)>

<!ELEMENT TAXID (#PCDATA)>

<!ELEMENT TAXJRSDCTN (#PCDATA)>

<!ELEMENT TAXWHEXMPT (#PCDATA)>

<!ELEMENT TELEPHONE (#PCDATA)>

<!ATTLIST TELEPHONE
           index CDATA #REQUIRED>
<!ELEMENT TERMID (#PCDATA)>

<!ELEMENT TIMEZONE (#PCDATA)>

<!ELEMENT TRACKINGID (#PCDATA)>

<!ELEMENT UOM (#PCDATA)>

<!ELEMENT UOMNUMDEC (#PCDATA)>

<!ELEMENT UOMVALUE (#PCDATA)>

<!ELEMENT UPC (#PCDATA)>

<!ELEMENT URL (#PCDATA)>

<!ELEMENT USERAREA ANY>

<!ELEMENT VALUE (#PCDATA)>

<!ELEMENT VERB (#PCDATA)>

<!ELEMENT WAREHOUSE_REFERENCE_NUMBER (#PCDATA)>

<!ELEMENT YEAR (#PCDATA)>

<!ELEMENT TAXRATE (#PCDATA)>
<!ELEMENT SUPPLIERTAXNUM (#PCDATA)>
<!ELEMENT RECIPIENTTAXNUM (#PCDATA)>

<!ELEMENT AMOUNT (VALUE,NUMOFDEC,SIGN,CURRENCY,DRCR)>

<!ATTLIST AMOUNT
           qualifier ( ACTUAL | APPRVORD | AVAILABLE | BUDGET | COMMISSION | DECLAREVAL | DSCPRCNT | DSCVALUE | DISCNT | DOCUMENT | ESTENGIMP | ESTFREIGHT | ESTHRS | ESTIMATE | ESTMANIMP | ESTUCOST | EXTENDED | FREIGHT | ITEM | OPENITEM | ORDER | ORDLIMIT | PAYRATE | RATE | PRCBRK | TAX | TAXBASE | TOTAL | TOTLIMIT | OTHER | COLINX.DISCMULT) #REQUIRED
           type ( T | F | OTHER) #IMPLIED
           index CDATA #IMPLIED>
<!ELEMENT BSR (VERB,NOUN,REVISION)>

<!ELEMENT CNTROLAREA (BSR,SENDER,DATETIME)>

<!ELEMENT DATETIME (YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,SUBSECOND,TIMEZONE)>

<!ATTLIST DATETIME
           qualifier ( ACCOUNTING | ACTEND | ACTSTART | APPREQ | APPROVAL | ARRIVAL | AVAILABLE | BKTEND | BKTSTART | CANCEL | CHANGEDATE | COMPDATE | CREATION | CUMULATIVE | DELIVACT | DELIVSCHED | DISCNT | DOCUMENT | DUE | EARLSTEFF | EARLSTSHIP | EFFECTIVE | ENGCHG | EXECFINISH | EXECSTART | EXPIRATION | FAILDATE | FORECASTF | FORECASTS | FROM | GENERATION | IMPL | INVOICE | LABORFINSH | LABORSTART | LASTUSED | LOADING | MATCHING | MSMENTDATE | NEEDDELV | OPFINISH | OPSTART | PAYEND | PLANEND | PLANSTART | PO | PROMDELV | PROMSHIP | PYMTTERM | RECEIVED | REPORTDATE | REPORTNGFN | REPORTNGST | REQUIRED | RESORCDWNF | RESORCDWNS | RSPDDATE | RSPDOCGEN | SCHEND | SCHSTART | SETUPFINSH | SETUPSTART | SHIP | SHIPSCHED | STATUSDATE | TEARDOWNF | TEARDOWNS | TO | OTHER | COLINX.CARDEXP | COLINX.REQUESTED) #REQUIRED
           type ( T | F | OTHER) #IMPLIED
           index CDATA #IMPLIED>
<!ELEMENT OPERAMT (VALUE,NUMOFDEC,SIGN,CURRENCY,UOMVALUE,UOMNUMDEC,UOM)>

<!ATTLIST OPERAMT
           qualifier ( COST | EXTENDED | FREIGHT | UNIT | OTHER | LPRICE | RVPRICE | TAX) #REQUIRED
           type ( T | F | OTHER | LPRICE | RVPRICE) #REQUIRED>
<!ELEMENT QUANTITY (VALUE,NUMOFDEC,SIGN,UOM)>

<!ATTLIST QUANTITY
           qualifier ( ACCEPTED | ACTDUR | ACTHRS | ALLOCATED | ALLOWEDWT | AVAILABLE | AVGRUNSIZE | BACKORDERD | BATCHSIZE | BATCHTIME | BLOCKED | BREAKTIME | CAPPERCENT | CATCHWEGHT | COMMISSION | COMPLETED | CUMULATIVE | DELIVERED | DURATION | DUROVER | DURUNDER | EMPLOYEES | EMPREQD | ESTDUR | ESTHRS | ESTWEIGHT | FILENAME | FILESIZE | FIXEDTIME | HEIGHT | INSPECTED | INSPECTION | ITEM | LDTMOFFSET | LENGTH | LABOR | LOADINGWT | LOTSIZEMAX | LOTSIZEMIN | LOTSIZEMLT | LOWERLIMIT | MACHINEHRS | MAXIMUM | MAXPARLTM | MINIMUM | MOVETIME | MSMENT | MULTIPLIER | NETWEIGHT | OPEN | ORDERED | OTHERREJ | OVERSHIP | PACKING | PERCENT | PERCENTREQ | PERSHBNOPR | PERSHWIOPR | PLNDPRCT | PRCBRK | PRIOR | QUEUETIME | RATE | RECEIVED | REJECTED | REJPERCENT | REMDUR | REMHRS | REQUIRED | RETURNED | REWORK | RUNTIME | SCRAP | SETUPTIME | SHELFLIFE | SHIPPED | SHIPUNIT | TEARDOWN | TOTAL | TOOLREQD | TOTWEIGHT | TRANSFRLOT | UNDERSHIP | UNIT | UPPERLIMIT | VOLUME | WAITTIME | WEIGHT | WIDTH | OTHER | COLINX.TOTWEIGHT | COLINX.ALLOWED | COLINX.ORDERED | COLINX.REMAIN) #REQUIRED>
<!ELEMENT SENDER (LOGICALID,COMPONENT,TASK,REFERENCEID,CONFIRMATION,LANGUAGE,CODEPAGE,AUTHID)>

<!ELEMENT TEMPRATURE (VALUE,NUMOFDEC,SIGN)>

<!ATTLIST TEMPRATURE
           qualifier ( ACTUAL | DELIVERY | LOADING | OTHER) #REQUIRED
           type ( CELSIUS | FAHRENHEIT | KELVIN | OTHER) #REQUIRED>
<!ELEMENT PARTNER (NAME,ONETIME?,PARTNRID?,PARTNRTYPE?,SYNCIND?,ACTIVE?,CURRENCY?,DESCRIPTN?,DUNSNUMBER?,GLENTITYS?,PARENTID?,PARTNRIDX?,PARTNRRATG?,PARTNRROLE?,PAYMETHOD?,TAXEXEMPT?,TAXID?,TERMID?,COLINX_PARTNER_USERAREA?,ADDRESS*,CONTACT*)>

<!ATTLIST PARTNER
           returndata CDATA #IMPLIED>
<!ELEMENT ADDRESS (ADDRLINE*,ADDRTYPE?,CITY?,COUNTRY?,COUNTY?,DESCRIPTN?,FAX*,POSTALCODE?,REGION?,STATEPROVN?,TAXJRSDCTN?,TELEPHONE*,URL?,COLINX_ADDRESS_USERAREA?)>

<!ATTLIST ADDRESS
           returndata CDATA #IMPLIED>
<!ELEMENT CONTACT (NAME,CONTCTTYPE?,DESCRIPTN?,EMAIL?,FAX*,NAME*,TELEPHONE*,USERAREA?)>

<!ATTLIST CONTACT
           returndata CDATA #IMPLIED>
           
<!ELEMENT COLINX_BILOLADING (#PCDATA)>

<!ELEMENT COLINX_CONSOLFLG (#PCDATA)>

<!ELEMENT COLINX_DEVIATEFLG (#PCDATA)>

<!ELEMENT COLINX_FRTACCTNUM (#PCDATA)>
           
<!ELEMENT COLINX_FRTBILLTYPE (#PCDATA)>

<!ELEMENT COLINX_LEGACYKEY (#PCDATA)>

<!ELEMENT COLINX_NETPRICE (#PCDATA)>

<!ELEMENT COLINX_NOTE (#PCDATA)>
<!ATTLIST COLINX_NOTE
           index CDATA #REQUIRED>

<!ELEMENT COLINX_ORDERTYPE (#PCDATA)>

<!ELEMENT COLINX_ORDTRANSID (#PCDATA)>

<!ELEMENT COLINX_PARTSHIP (#PCDATA)>

<!ELEMENT COLINX_PREFNAME (#PCDATA)>

<!ELEMENT COLINX_PREFVALUE (#PCDATA)>

<!ELEMENT COLINX_PREFDESC (#PCDATA)>

<!ELEMENT COLINX_SHIPCMNT (#PCDATA)>

<!ELEMENT COLINX_WIC (#PCDATA)>

<!ELEMENT COLINX_PREFERENCE (COLINX_PREFNAME,COLINX_PREFVALUE,COLINX_PREFDESC?)>

<!ELEMENT COLINX_PARTNER_USERAREA (COLINX_PREFERENCE*)>

<!ELEMENT COLINX_ADDRESS_USERAREA (COLINX_LEGACYKEY)>

<!ELEMENT COLINX_SHIPINSTR (COLINX_ORDERTYPE?,COLINX_FRTBILLTYPE?,COLINX_DEVIATEFLG?,COLINX_PARTSHIP?,COLINX_FRTACCTNUM?,COLINX_WIC?,COLINX_CONSOLFLG?,COLINX_SHIPCMNT?)>

<!ELEMENT COLINX_SHIPUNIT (SHPUNITSEQ,(DATETIME)?,CARRIER?,TRACKINGID?,CONTAINRID?,SHPUNITSTS?)>

<!ELEMENT COLINX_SHIPMENT (DOCUMENTID,COLINX_BILOLADING?,CARRIER,(QUANTITY),(DATETIME),(OPERAMT)?,SHPUNITTOT,COLINX_SHIPUNIT*,DISTCENTER?)>

<!ELEMENT COLINX_SUBITEMNO (#PCDATA)>

<!ELEMENT SOHEADER_USERAREA (COLINX_SHIPINSTR?,(QUANTITY?),COLINX_ORDTRANSID?,COLINX_SHIPMENT*, MARK_FOR?, ORDERER?, COLINX_NOTE* )>

<!ELEMENT SPECIAL_INSTRUCTION (CODE?, DESCRIPTN?)>
<!ELEMENT SPECIAL_INSTRUCTIONS (SPECIAL_INSTRUCTION*)>


<!ELEMENT PAGELIST ( PAGESIZE,TOTALSIZE?,PAGEREF* )>
<!ATTLIST PAGELIST
           element CDATA #REQUIRED>

<!ELEMENT PAGEREF ( REF* )>
<!ATTLIST PAGEREF
				name (REQUESTED|INITIAL|NEXT|PREVIOUS) #REQUIRED>
<!ELEMENT REF ( #PCDATA)>

<!ATTLIST REF 
				qualifier CDATA #REQUIRED>    

<!ELEMENT PAGESIZE (#PCDATA)>
<!ELEMENT TOTALSIZE (#PCDATA)>
				
<!ELEMENT LIST_SALESORDER_005 (CNTROLAREA,DATAAREA+)>

<!ATTLIST VERB
           value CDATA #IMPLIED>
<!ATTLIST NOUN
           value CDATA #IMPLIED>
<!ATTLIST REVISION
           value CDATA #IMPLIED>
<!ELEMENT DATAAREA (LIST_SALESORDER*,PAGELIST*)>
<!ATTLIST DATAAREA
           maxitems CDATA #IMPLIED
           totalitems CDATA #IMPLIED>
           
<!ELEMENT PARTTYPE (#PCDATA)>
<!ELEMENT PARTNO (#PCDATA)>
<!ELEMENT PARTCLASS (#PCDATA)>
<!ELEMENT PARTKEY (#PCDATA)>
<!ELEMENT PARTQUAL (#PCDATA)>
<!ELEMENT PARTDESC (#PCDATA)>
<!ELEMENT PRIORITY (#PCDATA)>

<!ELEMENT LIST_SALESORDER (SOHEADER,SOLINE*)>

<!ELEMENT SOHEADER ((DATETIME)?,(OPERAMT)?,BACKORDIND?,CONTRACTB?,CONTRACTS?,COSTCENTER?,DEPARTMENT?,DESCRIPTN?,DISTCENTER?,DIVISION?,EXPORTLIC?,GLENTITYS?,GLNOMACCT?,IMPORTLIC?,NOTES?,OPRAMTAUTH?,POID?,POLINENUM?,PROJECT?,SALESORDID?,SALESORG*,SHIPNOTES?,SHIPPRIOR?,SITELEVEL*,SOSTATUS?,TAXWHEXMPT?,SOHEADER_USERAREA?,PARTNER*,SALESINFO*)>

<!ELEMENT SALESINFO (AMOUNT*,QUANTITY*,SALESORG*,SALESPERSN?,USERAREA?)>

<!ELEMENT SOLINE_USERAREA ((DATETIME)?,COLINX_NETPRICE?,COLINX_SUBITEMNO?)>

<!ELEMENT PARTREF ( PARTTYPE, PARTNO, PARTCLASS?, PARTKEY?, PARTQUAL?, PARTDESC?, PRIORITY?)>

<!ELEMENT SOLINE (DATETIME*,(OPERAMT)*,(QUANTITY)*,TEMPRATURE*,BACKORDIND?,BOMALTID?,BOMID?,BOMNAME?,BOMREVISON?,BOMSTATUS?,BOMTYPE?,BOMUSAGE?,CONTRACTB?,CONTRACTS?,DESCRIPTN?,DISTCENTER?,DRAWING?,DROPSHIP?,EXPORTLIC?,HAZRDMATL?,IMPORTLIC?,INVOICENUM?,ITEM?,ITEMRV?,ITEMRVX?,ITEMX?,LOTLEVEL*,NOTES?,PARTREF*,PACKING?,PARTIALSHP?,POID?,POLINENUM?,PRICING_REFERENCE?,PRODCTLINE?,PROJECT?,PROPERTY*,ROUTINGID?,SHIPNOTES?,SHIPPRIOR?,SOLINENUM?,SOLNSTATUS?,SUBSFLAG?,TAXWHEXMPT?,UPC?,SOLINE_USERAREA?,PARTNER*,SALESINFO*,SOSCHEDULE*,WAREHOUSE_REFERENCE_NUMBER?,TAXRATE?,SUPPLIERTAXNUM?,RECIPIENTTAXNUM?,SPECIAL_INSTRUCTIONS?)>

<!ELEMENT SOSCHEDULE (DATETIME*,OPERAMT*,(QUANTITY)?,TEMPRATURE*,BACKORDIND?,BOMALTID?,BOMID?,BOMNAME?,BOMREVISON?,BOMSTATUS?,BOMTYPE?,BOMUSAGE?,CONTRACTB?,CONTRACTS?,DESCRIPTN?,DISTCENTER?,DRAWING?,DROPSHIP?,EXPORTLIC?,HAZRDMATL?,IMPORTLIC?,ITEM?,ITEMRV?,ITEMRVX?,ITEMX?,LOTLEVEL*,NOTES?,PACKING?,PARTIALSHP?,POID?,POLINENUM?,PRODCTLINE?,PROJECT?,PROPERTY*,PSCLINENUM?,ROUTINGID?,SHIPNOTES?,SHIPPRIOR?,SOLINENUM?,SUBSFLAG?,TAXWHEXMPT?,UPC?,USERAREA?)>

